.container__today{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget__current{
  width: 250px;
}

.general-row{
  display: inline-flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  align-items: center;
}

.temp{
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.temp .degrees{
  font-size: 30px;
  font-weight: 600;
}

.temp .sky{
  font-size: 16px;
  font-weight: 500;
}

.widget__current--general{
  min-width: calc(100%-5px);
  height: 250px;
  display: flex;
  background: #ffa96a;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.widget__current--details{
  min-width: calc(100%-5px);
  background-color: #ffa96a;
  height: 160px;
  display:grid;
  grid-template-columns: 120px 120px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.chart{
  position:absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
}