.detail__box{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.text--prim{
  font-size: 18px;
  font-weight: 600;
}

.text--sec{
  font-size: 14px;
  font-weight: 400;
}